<% include partials/header %>

<div class="container">
  <div class="jumbotron">

    <head>
      <div class="container">
        <h1>Welcome To YelpCamp</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <p>
          <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Camp Groung</a>
        </p>
      </div>

    </head>
  </div>


  <div class="row" style="display:flex; flex-wrap:wrap;">
    <% camps.forEach(function(camp){ %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <img src="<%= camp.image %>">
        <div class="text-center caption">
          <h4>
            <%= camp.name %>
          </h4>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<% include partials/footer %>
