<% include partials/header %>
<h1>Add a New Camp Ground</h1>

<form action="/campgrounds" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="image" placeholder="Image">
  <button> Submit!</button>
</form>

<a href="/campgrounds">Go Back</a>
<% include partials/footer %>
